*.pem
.terraform 
*.tfvars
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.config
target/
*.jar
*.war
*.class
*.log
.terraform/
*.properties
.idea/
*.iml
.project
.classpath
.settings/
.mvn/
mvnw
mvnw.cmd
